<nav>
    <div id="left">
        <div>
            <img src="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD" alt="shair" height='23px'>
        </div>
        <div><a href="{% url 'home' %}">MEGO coding school</a></div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="right">
       {% if user.is_authenticated %}
       {% comment %} <a href="{% url 'home' %}">Home</a> {% endcomment %}
       <a href="{% url 'coursemenu' %}">Courses</a>
       <a href="{% url 'admincourseconcept' %}">concepts</a>
       <a href="{% url 'courseconcept' %}">add-Concept</a>
       <a href="{% url 'course' %}">add-Courses</a>
       <a href="{% url 'usersdata' %}">userdata</a>
       {% else %}
       <a href="{% url 'home' %}">Home</a>
       <a href="{% url 'card' %}">Courses</a>
       {% endif %}
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn" id="menu">{{ user.username|slice:":1" }}</button>
            </div>
        {% else %}
            <a href="{% url 'Login' %}"><button class="btnname">Login</button></a>
        {% endif %}
    </div>
</nav>